*{
  text-shadow: 1px 1px 1px #81a4e8;

  //background: linear-gradient(#8e9eab, #eef2f3);
}
p{
  //display: list-item;

  font-size: 18px;
}


ion-slide{
  display:block;
  background: linear-gradient(#b9b5bf, #eef2f3);
}
