<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Programs
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-slides pager="true" >

        <ion-slide >
            <h3>{{program.title.title1}}</h3>
            <h5>{{program.subTitle.subTitle1}}</h5>


                    <p>{{program.points[0].point1}}</p>
                    <p>{{program.points[0].point2}}</p>
                    <p>{{program.points[0].point3}}</p>
                    <p> {{program.points[0].point4}}</p>
                    <p>{{program.points[0].point5}}</p>
                    <p>{{program.points[0].point6}}</p>


        </ion-slide>

        <ion-slide>
            <h3>{{program.title.title2}}</h3>
            <h5>{{program.subTitle.subtitle2}}</h5>


                    <p>{{program.points[1].point1}}</p>


        </ion-slide>

        <ion-slide>
            <h3>{{program.title.title3}}</h3>
            <h5>{{program.subTitle.subtitle3}}</h5>


                    <p>{{program.points[2].point1}}</p>
                    <p>{{program.points[2].point2}}</p>
                    <p>{{program.points[2].point3}}</p>
                    <p> {{program.points[2].point4}}</p>
                    <p>{{program.points[2].point5}}</p>
                    <p>{{program.points[2].point6}}</p>
                    <p>{{program.points[2].point7}}</p>


        </ion-slide>

    </ion-slides>


</ion-content>


