<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            About Us
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card class="card-background-page">
        <div id="imgwrap">
            <img
                    src="https://static.wixstatic.com/media/ca7d68_a7cf1cc9e4f0439cb629dde04570a9b3~mv2.png/v1/fill/w_188,h_188,al_c,q_80,usm_0.66_1.00_0.01/ca7d68_a7cf1cc9e4f0439cb629dde04570a9b3~mv2.webp"/>
        </div>

    </ion-card>

    <h2>{{object.heading}}</h2>
    <h4>{{object.subheading}}</h4>
    <p>{{object.details.StudentFirst}}</p>
    <p>{{object.details.PersonalityDevelopment}}</p>
    <p>{{object.details.ExperiencedCoaches}}</p>
    <p>{{object.details.OurMission}}</p>
    <p>{{object.details.ComprehensiveProgram}}</p>
    <p>{{object.details.Inspiration}}</p>

</ion-content>
