#date{
  text-align: right;
}

.card-background-page {
  background: linear-gradient(#8e9eab, #eef2f3);
}

img {
  margin: auto;
  width: auto;
  height: auto;
  padding: 4%;
}
.error {
  margin: 5px;
  color: #d20001;
  border: 1px red;
}