<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Videos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card >
        <iframe width="350" height="345" src="https://www.youtube.com/embed/B6Vu15nFrG8?controls=1">
        </iframe>
    </ion-card>
    <ion-card>
        <iframe width="350" height="345" src="https://www.youtube.com/embed/bXn6fhZsF5A?controls=1">
        </iframe>
    </ion-card>

</ion-content>
